<table>
	<tr>
		<th>Product</th>
		
		<th>price</th>
		<th>discount</th>
		<th>total</th>
	</tr>
	<tr>
		
		<td><%= @product.ProductName %></td>
		
		<td><%= @product.price %></td>
		<td><%= @product.discount %></td>
		<td><%= @product.discount %></td>
		
		
		
	</tr>
	
</table>
