<% @page_title = "Login" -%>
<div class= "Sign_Form">
  <h1>Log in</h1>
  <%= form_tag(:action => 'login_auth') do %>
    <p>Username or Email:</br> <%= text_field_tag(:name) %></p> 
    <p>Password:</br> <%= password_field_tag :password %></p> 
    <%= submit_tag("Log In") %>
  <% end %>
</div>
